{% extends 'base.html' %}

{% block title %}Market page{% endblock %}

{% block css_files %}
{{ super() }}
    <style>
        .thumbnail {
          width: 300px;
          height: 300px;
          object-fit: contain;
          border-width: 2px;
          border-style: groove;
          border-color: aquamarine;
        }

        .grid-item {
            background-color: #ffffff;
            color: #212529;
            border: 1px solid #dee2e6;
            padding: 20px;
            font-size: 18px;
            text-align: center;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            gap: 20px;
            padding: 10px;
            overflow-y: scroll;
        }

        .grid-container::-webkit-scrollbar{
          display: none;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        h2 {
            margin-top: 15px;
            font-size: 20px;
            color: #007bff;
        }

        h3 {
            margin-top: 5px;
            font-size: 18px;
            color: #343a40;

        }
    </style>
{% endblock %}

{%block search_bar %}
<form class="form-inline my-2 my-lg-0" action="{{url_for('search_results')}}" method="GET">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<div class="grid-container">
    {% for item in item_name %}
        <div class="grid-item" onclick="redirectTo({{item.id}})">
            <img class="thumbnail"  src="/static/products/{{item.image_url}}" alt="{{item.name}}">
            <h2>{{item.name}}</h2>
            <h3>Rs. {{item.price}}</h3>
        </div>
    {% endfor %}
</div>

<script>
    function redirectTo(url) {
        window.location.href = "/product/" + url;
    }
</script>
{% endblock %}
